<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cco.cristiancarlosjohn.ccogestion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Actividad Splash -->
        <activity
            android:name=".UI.Activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.LoginActivity"
            android:screenOrientation="portrait" />

        <!-- Firebase -->
        <service android:name=".WEB.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Token -->
        <service android:name=".WEB.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".UI.Activities.ConfirmActivity"
            android:label="@string/title_activity_confirmation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Actividad Insertar -->
        <activity
            android:name=".UI.Activities.InsertActivity"
            android:label="@string/title_activity_insert"
            android:parentActivityName=".UI.Activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cco.cristiancarlosjohn.ccogestion.UI.Activities.MainActivity" />
        </activity>
        <activity android:name=".UI.Activities.DesaeventosActivity" />
        <activity android:name=".UI.Activities.InsertDesaActivity" />
        <activity android:name=".UI.Activities.DetailDesaActivity" />
        <activity android:name=".UI.Activities.UpdateDesaActivity"></activity>
    </application>

</manifest>